config.json
Mandrill_Build/Components/Mandrill.4dbase/Resources/config*
Mandrill.4dbase/Components
Mandrill.4dbase/vc_data
Mandrill.4dbase/vc_methods/Debug.txt
Mandrill.4dbase/Mandrill.4DD
# Mandrill.4dbase/Mandrill.4DIndy # Always include 4DIndy in git
Mandrill.4dbase/Mandrill.journal
Mandrill.4dbase/Mandrill.Match
Mandrill.4dbase alias
Mandrill.4dbase/Logs
Mandrill.4dbase/Preferences/BuildApp
Backup.xml
